.container {
    height: 100%;
    width: 100%;
    padding-top: 30%;

    .login-grid {
        display: grid;
        height: 100%;
        grid-auto-columns: 30.6666666667% 30.6666666667% 30.6666666667%;
        grid-auto-rows: 10% 10% 10% 10%;
        grid-gap: 4%;
        .center-align {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .align-vertical {
            display: flex;
            align-items: center;
        }
        .head {
            grid-row: 1;
            grid-column-start: 1;
            grid-column-end: 4;
            h1 {
                font-size: xx-large;
                font-weight: bold;
            }
            #blue {
                color: #01a3ff;
                margin-left: 1%;
            }
        }
        .input {
            padding-left: 5%;
            width: 95%;
            border-radius: 15px;
            border-style: unset;
            height: 100%;
            box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.05);
            transition: all 0.5s;
        }
        .input:hover,
        .input:focus {
            box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.15);
        }
        .email {
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .pass {
            grid-row: 3;
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .links {
            grid-row: 4;
            grid-column-start: 1;
            grid-column-end: 4;
            display: grid;
            grid-auto-columns: 33.33% 33.33% 33.33%;
            .btn {
                background-color: #9568ff;
                height: 70%;
                color: white;
                display: flex;
                border-radius: 15px;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 13px;
            }
            .silent {
                color: gray;
                background-color: unset;
            }
            #unknown {
                grid-column: 1;
            }
            #forgot {
                grid-column: 2;
            }
            #login {
                grid-column: 3;
            }
        }
    }
}
