<div class="container">
    <div class="login-grid">
        <div class="head align-vertical">
            <h1>Password recovery</h1>
        </div>
        <div class="tabs pointer" [ngClass]="{'active': active==0}" id="tab1" (click)="switchTabs()">
            <p>Card number</p>
            <div id="divide"></div>
        </div>
        <div class="tabs pointer" [ngClass]="{'active': active==1}" id="tab2" (click)="switchTabs()">
            <p>Number of contract</p>
            <div id="divide"></div>
        </div>
        <div class="email center-align">
            <input type="number" placeholder="Card number" class="input">
        </div>
        <div class="links">
            <div id="unknown" class="justify" (click)="toggleSubComponents()">
                <div class="btn silent pointer">Cancel</div>
            </div>
            <div id="login" class="justify">
                <div class="btn pointer">Continue</div>
            </div>
        </div>
    </div>
</div>