.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    background-color: white;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.05);
    border-radius: 15px;
}

.accounts {
    // background-color: red;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 2vh 0;
    .icon {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 30%;
        font-size: 30px;
    }
    .info {
        display: inherit;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        .title {
            color: gray;
            font-size: 14px;
            margin-bottom: 0.3vh;
        }
        .price {
            margin-top: 0.25vh;
            font-weight: bold;
        }
    }
    .option {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 20%;
    }
}
.accounts:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.3s;
}

.large {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 200px;
        .inner-profile {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 62px;
            width: 62px;
            border: 1px solid gray;
            border-radius: 22px;
            img {
                height: 60px;
                width: 60px;
                border-radius: 22px;
            }
        }
        .name {
            margin-top: 1vh;
            font-weight: bold;
        }
        .number {
            margin-top: 2vh;
            .number-inner {
                font-size: x-large;
                font-weight: normal;
            }
        }
    }
    .inner-container {
        padding: 3vh;
        height: 400px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .income-spending {
            width: 100%;
            padding: 2vh 0;
            .common {
                box-sizing: border-box;
                display: inline-flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 50%;
                height: 100%;
            }
            .material-icons {
                margin-left: 0.5vw;
                font-size: 15px;
            }
            .gray {
                color: gray;
            }
            .spending {
                border-left: 1px solid rgba(128, 128, 128, 0.5);
            }
        }
    }
}
.small {
    margin-top: 4vh;
    height: 10vh;
    .inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3vh;
        box-sizing: border-box;
        height: 100%;
        .accounts {
            width: 100%;
            .info {
                width: unset;
                .title {
                    color: black;
                }
                .price {
                    color: gray;
                    margin-top: 0.25vh;
                    font-weight: unset;
                }
            }
        }
    }
}
