<div class="wrapper">
    <div class="container large">
        <div class="profile">
            <div class="inner-profile">
                <img src="../../../assets/mateo-avila-chinchilla-x_8oJhYU31k-unsplash.jpg" alt="">
            </div>
            <span class="name">Amir K.</span>
            <div class="number">
                <span>€ </span><span class="number-inner">500,000</span>
            </div>
        </div>
        <div class="inner-container">
            <div class="income-spending">
                <div class="common income">
                    <span class="gray">Income</span>
                    <div>
                        <span class="bold">€ 5,128</span>
                        <span class="material-icons">
                            arrow_upward
                        </span>
                    </div>
                </div>
                <div class="common spending">
                    <span class="gray">Spending</span>
                    <div>
                        <span class="bold">€ 6,950</span>
                        <span class="material-icons">
                            arrow_downward
                        </span>
                    </div>
                </div>
            </div>
            <div class="accounts">
                <span class="material-icons icon">
                    credit_card
                </span>
                <div class="info">
                    <span class="title">Debit card first</span>
                    <span class="price">$25,640</span>
                </div>
                <span class="material-icons option">
                    more_vert
                </span>
            </div>
            <div class="accounts">
                <span class="material-icons icon">
                    credit_card
                </span>
                <div class="info">
                    <span class="title">Debit card second</span>
                    <span class="price">$10,160</span>
                </div>
                <span class="material-icons option">
                    more_vert
                </span>
            </div>
            <div class="accounts">
                <span class="material-icons icon">
                    credit_card
                </span>
                <div class="info">
                    <span class="title">Account first</span>
                    <span class="price">$2,220</span>
                </div>
                <span class="material-icons option">
                    more_vert
                </span>
            </div>
        </div>
    </div>
    <div class="container small">
        <div class="inner-container">

        </div>
    </div>
</div>