.container {
    position: absolute;
    height: 100%;
    width: 6vw;
    background-color: white;
    display: grid;
    grid-auto-rows: 8% 7% 40% 35% 10%;
    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .row2 {
        grid-row: 1;
        #logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            p {
                font-size: 35px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
    .row3 {
        grid-row: 3;
        .item-inner {
            height: 16.66%;
            width: 100%;
            display: inherit;
            justify-content: inherit;
            align-items: center;
            cursor: pointer;
            .active {
                color: #9568ff;
            }
            .material-icons {
                font-size: 30px;
            }
        }
        .item-inner:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
    .row4 {
        grid-row: 4;
    }
    .row5 {
        grid-row: 5;
        .item-inner:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
        .item-inner {
            width: 100%;
            height: 100%;
            display: inherit;
            justify-content: inherit;
            align-items: center;
            cursor: pointer;
            .icon {
                width: 35%;
                height: 35%;
            }
            #logout {
                background-image: url("../../../assets/logout.svg");
                background-repeat: no-repeat;
                transform: rotate(270deg);
            }
        }
    }
}
