<div class="container">
    <div class="row2 item">
        <div id="logo">
            <p>S.</p>
        </div>
    </div>
    <div class="row3 item">
        <div class="item-inner">
            <div class="icon" id="chart"></div>
        </div>
        <div class="item-inner">
            <div class="icon" id="payments"></div>
        </div>
        <div class="item-inner">
            <div class="icon" id="offers"></div>
        </div>
        <div class="item-inner">
            <div class="icon" id="chat"></div>
        </div>
        <div class="item-inner">
            <div class="icon" id="map"></div>
        </div>
        <div class="item-inner">
            <div class="icon" id="tune"></div>
        </div>
    </div>
    <div class="row5 item">
        <div class="item-inner">
            <div class="icon" id="logout"></div>
        </div>
    </div>
</div>